/Lib/site-packages
/python-backend/venv
.env
/python-backend/__pycache__
/Scripts
pyvenv.cfg
/python-backend/.ipynb_checkpoints
/python-backend/reports
.DS_Store
/python-backend/finance_news/__pycache__
