/Lib/site-packages
.env
/Scripts
pyvenv.cfg
.ipynb_checkpoints
/python-backend/reports
.DS_Store
venv

# Lambda
__pycache__
quic
/lambda/test-service/layer/create_layer
/lambda/test-service/layer/python
